*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    display: grid;
    height: 100vh;
}

.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
}

#search{
    display: flex;
}

#search li{
    margin: 5px;
}

#search input{
    border-radius: 5px;
}