.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header button {
  width: 130px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  background-color: #61dafb;
  color: aliceblue;
  font-size: medium;
  font-weight: bolder;
  cursor: pointer;
}

.App-header a {
  text-decoration: none;
}

.App-header button:hover {
  background-color: azure;
  color: #282c34;
}

.App-body {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-body #person {
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.App-body #person img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.App-body #person p {
  color: azure;
  font-size: large;
  font-weight: bold;
  text-align: justify;
  flex-wrap: wrap;
}

.App-body #person {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.App-body #card {
  width: 25%;
  height: 40vh;
  padding: 20px;
  border-radius: 8px;
  background-color: #282c34;
  margin-left: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
